.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.txtSingUp {
  color: #fe7353;
  margin-top: 30px;
  margin-bottom: 30px;
}
.labelSingUp {
  margin-top: 15px;
}
